.form-row-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form-row-button > button {
    background-color: #3e55fe;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right:  50px;
    cursor: pointer;
    border-radius: 5px;
}
.form-row-button > a {
    text-transform: capitalize;
    text-decoration: none;
    color: #3e55fe;
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 42px;
    padding-right:  42px;
    border: #3e55fe 1px solid;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

}