.form-row-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}
.form-row-button > button, 
.form-row-button > a { 
    background-color: #3e55fe;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right:  50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 14px 0 #0008;
    text-transform: capitalize;
    text-decoration: none;
}
.form-row-button > a {
    background-color: white;
    color: #3e55fe;
    border: #3e55fe 1px solid;
}