.form {
    width: 100%;

}
.form-p {
    padding-top: 20px;
    color: #b7b9c0;
    font-size: 21px;
}
.form > .form-row:first-of-type {
    margin-top: 45px;
}
.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: #eaecf0 1px solid;
}
.form-row > input {
    border: 0;
}
input:focus {
    border: 0;
    border-left: #3e55fa 6px solid;
}
.form-row > label {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-row > input {
    line-height: 40px;
    font-size: 20px;
    color: #3e55fa;
    padding-left: 20px;
    padding-right: 20px;
}
::placeholder {
    color: #3e55fa;
    font-weight: bold;
}
.form-row-bottom {
    margin-top: 30px;
    display:flex;
    gap: 175px;
    flex-direction: row;
    width: 100%;    
}
.checkbox > input {
    vertical-align: middle;
}
.checkbox > label {
    color: #b7b9c0;
    font-size: 20px;
}
.form-row-bottom > a {
    text-decoration: none;
    color: #b7b9c0;
    font-size: 20px;
}

.form-row-links {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 50px;
    font-size: 17px;
}
.form-row-links > p {
    color: #b7b9c0;
    }
.form-row-links > a {
    text-transform: capitalize;
    color: #3e55fa;
    text-decoration: none;
    font-weight: bold;

}